.chart-parent {
  background: #e7ebee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.case-study {
  margin-bottom: 100px;
  line-height: 1;
  font-size: 2.625rem;
  color: #004861;
  font-weight: 600;
  letter-spacing: -0.25px;
  font-family: "Barlow", sans-serif;
}
.case-study span {
  font-weight: 900;
  font-family: monospace;
}

@media only screen and (max-width: 600px) {
  .chart-holder {
    background-color: rgb(99, 216, 252);
  }
  .case-study {
    padding-left: 20px;
  }
}
